{% extends 'main.html' %}

{% block content %}

 <!-- Sidebar -->
 <div class="sidebar d-none d-lg-block">
  <a href="{% url 'index'%}" class="bg-secondary text-warning"><strong>Salles</strong></a>
  <a href="#">Libres</a>
  <a href="#">Occupées</a>
  <a href="{% url 'cours'%}">Cours</a>
  <a href="{% url 'professeur'%}">Profs</a>
</div>

 <!-- Main Content -->
<div class="main-content ">
  <div class="container">
    <h3 class="mb-4" style="text-align: center;">Toutes les salles de cours</h3>
    <div class="row">

      {% for salle in salles %}
      <div class="col-md-4 ">
        <div class="card case">
          <div class="card-body">
            <h5 class="card-title">{{ salle.numero }}</h5>
            <p class="card-text">Capacité: {{ salle.capacite }}</p>
          </div>
        </div>
      </div>
      {% endfor %}

    </div>
  </div>
</div>

{% endblock content %}

