{% extends 'main.html' %}

{% block content %}

 <!-- Sidebar -->
 <div class="sidebar d-none d-lg-block">
  <a href="{% url 'index'%}" class="bg-secondary text-warning"><strong>Total Salles</strong></a>
  <a href="{% url 'salles_libres'%}">Libres Libres</a>
  <a href="{% url 'salles_occupees'%}">Salles Occupées</a>
  <a href="{% url 'cours'%}">Cours Enseignés</a>
  <a href="{% url 'professeur'%}">Nos Professeurs</a>
</div>

 <!-- Main Content -->
<div class="main-content ">
  <div class="container">
    <h3 class="mb-4" style="text-align: center;">Toutes les salles de cours</h3>
    <div class="row">

      {% for salle in salles %}
      <div class="col-lg-2 col-md-3 col-sm-6 col-6 mb-2 ">
        <div class="card case">
          <div class="card-body">
            <h5 class="card-title">{{ salle.batiment }}-{{ salle.numero }}</h5>
            <p class="card-text">Capacité: {{ salle.capacite }}</p>
          </div>
        </div>
      </div>
      {% endfor %}

    </div>
  </div>
</div>

{% endblock content %}

