
{% extends 'main.html' %}

{% block content %}

 <!-- Sidebar -->
 <div class="sidebar d-none d-lg-block">
    <a href="{% url 'index'%}">Total Salles</a>
    <a href="{% url 'salles_libres'%}" >Salles Libres</a>
    <a href="{% url 'salles_occupees'%}" class="bg-secondary text-warning"><strong>Salles Occupées</strong></a>
    <a href="{% url 'cours'%}">Cours Enseignés</a>
    <a href="{% url 'professeur'%}">Nos Professeurs</a>
 </div>

 <div class="main-content">
    <div class="container mt-4">
        <h3 style="text-align: center;">Salles Occupées Aujourd'hui ({{ jour }})</h3>
        <div class="alert alert-success">
            {% if aucune_salle_occupee %}
                <h6 style="text-align: center;">Aucune salle n'est occupée aujourd'hui.</h6>
            {% else %}
        </div>
        <div class="row">

            {% for salle in salles_occupees %}
            <div class="col-lg-2 col-md-3 col-sm-6 col-6 mb-2 ">
                <div class="card case">
                    <div class="card-body">
                        <h5 class="card-title">{{ salle.batiment }}-{{ salle.numero }}</h5>
                        <p class="card-text">Capacité: {{ salle.capacite }}</p>
                    </div>
                </div>
            </div>
            {% endfor %}
            {% endif %}
        </div>
      
    </div> 
</div>

{% endblock content %}


